.popup, .popup-add, .popup-image {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.popup-image__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.popup-image__image {
  display: block;
  width: 100%;
  max-width: 75vw;
  max-height: 75vh;
}

.popup-image__title {
  padding: 10px 0 0 0;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  line-height: 1.2;
  color: #FFFFFF;
  font-family: 'Inter', 'sans-serif';
}

.popup__container {
  width: 430px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.popup__title {
  font-family: 'Inter', 'sans-serif';
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin: 36px 0 54px 36px;
}

.popup__form {
  padding: 0 36px;
}

.popup__form-add {
  padding: 0 36px;
}

.popup__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
}

.popup__input {
  width: 358px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,.2);
  padding-bottom: 13px;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.popup__button-close {
  height: 40px;
  width: 40px;
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  top: -35px;
  left: 428px;
}

.popup__button-close-add {
  height: 40px;
  width: 40px;
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  top: -35px;
  left: 428px;
}

.popup__button-close:hover {
  opacity: 60%;
  cursor: pointer;
}

.popup__button-close-image {
  height: 40px;
  width: 40px;
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  right: -40px;
  align-self: flex-end;
}

.popup__button-save {
  height: 50px;
  width: 358px;
  border-radius: 2px;
  font-family: 'Inter', 'sans-serif';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: white;
  background-color: black;
  margin: 48px 0 36px 0;
  border: none;
}

.popup__button-save:hover {
  opacity: 80%;
  cursor: pointer;
}

.popup_active {
  display: flex;
}

.popup_active-add {
  display: flex;
}

.popup-image-active {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .popup__container {
    width: 282px;
  }

  .popup__button-close {
    top: -35px;
    left: 265px;
    width: 26px;
    height: 26px;
  }

  .popup__close {
    width: 26px;
    height: 26px;
  }

  .popup__title {
    font-size: 18px;
    margin: 25px 0 76px 36px;
  }

  .popup__form {
    padding: 0 22px;
  }

  .popup__input {
    width: 238px;
    padding-bottom: 9px;
  }

  .popup__form-add {
    padding: 0 22px;
  }

  .popup__button-close-add {
    top: -36px;
    left: 265px;
  }

  .popup__button-close-image {
    right: -27px;
  }

  .popup__button-save {
    width: 238px;
    height: 46px;
    margin: 46px 0 25px 0;
    padding: 0;
  }

  .popup__button-close-image {
    height: 30px;
    width: 30px;
  }
}